{
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": true
  },
  "extends": ["airbnb", "prettier", "prettier/react"],
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "it": 0,
    "describe": 0
  },
  "rules": {
    "array-callback-return": "warn",
    "arrow-body-style": "off",
    "arrow-parens": ["off"],
    "class-methods-use-this": "off",
    "compat/compat": "error",
    "consistent-return": "off",
    "comma-dangle": "off",
    "func-names": "warn",
    "generator-star-spacing": "warn",
    "import/extensions": "warn",
    "import/named": "warn",
    "import/no-extraneous-dependencies": "warn",
    "import/no-named-as-default-member": "warn",
    "import/no-useless-path-segments": "warn",
    "import/no-unresolved": "warn",
    "import/order": "off",
    "import/prefer-default-export": "warn",
    "jsx-a11y/anchor-is-valid": "off",
    "jsx-a11y/alt-text": "warn",
    "no-bitwise": "warn",
    "no-console": "warn",
    "no-else-return": "warn",
    "no-multi-assign": "off",
    "no-param-reassign": "warn",
    "no-plusplus": "warn",
    "no-proto": "warn",
    "no-prototype-builtins": "warn",
    "no-shadow": "warn",
    "no-underscore-dangle": "warn",
    "no-unused-expressions": "warn",
    "no-unused-vars": "off",
    "no-use-before-define": "off",
    "no-useless-constructor": "warn",
    "no-useless-return": "warn",
    "no-var": "warn",
    "object-shorthand": "warn",
    "operator-assignment": "warn",
    "prefer-arrow-callback": "warn",
    "prefer-const": "warn",
    "prefer-destructuring": "warn",
    "prefer-promise-reject-errors": "warn",
    "prefer-template": "warn",
    "promise/always-return": "warn",
    "promise/catch-or-return": "warn",
    "promise/no-native": "off",
    "promise/param-names": "error",
    "radix": "warn",
    "react/destructuring-assignment": "warn",
    "react/forbid-prop-types": "warn",
    "react/jsx-boolean-value": "off",
    "react/jsx-curly-brace-presence": "warn",
    "react/jsx-filename-extension": [
      "error",
      { "extensions": [".js", ".jsx"] }
    ],
    "react/jsx-no-bind": "off",
    "react/jsx-no-target-blank": "warn",
    "react/no-access-state-in-setstate": "warn",
    "react/no-array-index-key": "warn",
    "react/no-unused-prop-types": "warn",
    "react/no-unused-state": "off",
    "react/prefer-stateless-function": "off",
    "react/prop-types": "warn",
    "react/require-default-props": "warn",
    "react/self-closing-comp": "warn",
    "react/sort-comp": "off",
    "spaced-comment": "warn",
    "strict": "warn",
    "use-strict": "warn",
    "vars-on-top": "warn"
  },
  "plugins": ["import", "promise", "compat", "react"],
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "configs/webpack.config.eslint.js"
      }
    }
  }
}
