{
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": true
  },
  "extends": ["airbnb", "prettier", "prettier/react"],
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "it": 0,
    "describe": 0
  },
  "rules": {
    "arrow-body-style": "off",
    "arrow-parens": ["off"],
    "class-methods-use-this": "off",
    "compat/compat": "error",
    "consistent-return": "off",
    "comma-dangle": "off",
    "generator-star-spacing": "off",
    "import/no-unresolved": "error",
    "import/no-extraneous-dependencies": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "no-console": "off",
    "no-multi-assign": "off",
    "no-unused-vars": "off",
    "no-use-before-define": "off",
    "promise/always-return": "warn",
    "promise/catch-or-return": "error",
    "promise/no-native": "off",
    "promise/param-names": "error",
    "react/destructuring-assignment": "warn",
    "react/jsx-boolean-value": "off",
    "react/jsx-no-bind": "off",
    "react/jsx-filename-extension": [
      "error",
      { "extensions": [".js", ".jsx"] }
    ],
    "react/no-unused-state": "off",
    "react/prefer-stateless-function": "off",
    "react/sort-comp": "off"
  },
  "plugins": ["import", "promise", "compat", "react"],
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "configs/webpack.config.eslint.js"
      }
    }
  }
}
