.project.panel {
    align-items: stretch;
    border-right: 1px solid rgb(217, 217, 218);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    width: 280px;
}

.project.panel > .body {
    flex-grow: 2;
    overflow: auto;
    padding: 16px 0;
}

.project.panel > .footer {
    height: 32px;
    max-height: 32px;
    min-height: 32px;
}

.project.panel > .header {
    /*align-items: center;*/
    border-bottom: 1px solid lightgray;
    /*display: flex;*/
    /*flex-direction: row;*/
    height: 32px;
    /*justify-content: space-between;*/
    max-height: 32px;
    min-height: 32px;
}

.project.panel > .header span {
    padding: 0 16px;
}

.treeitem {
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: 0 8px;
}

.treeitem > span {
    margin-right: 8px;
}
