.status-bar {
    border-top: 1px solid rgb(217, 217, 218);
    height: 32px;
    overflow: hidden;
    padding: 0 8px;
    white-space: nobreak;
}

.status-bar .group {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.status-bar .group .item {
    margin-right: 16px;
    white-space: nowrap;
}
.status-bar .group .item:last-child {
    margin-right: 0;
}
