.content.panel .editor {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    flex-grow:2 ;
    font-size: 14px;
}

.content.panel>.body {
    /*align-items: stretch;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    flex-grow: 2;
    height: 100%;
}

.content.panel>.body>.editor {
    /*align-items: stretch;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    flex-grow: 2;
    height: 100%;
}

.content.panel>.body>.editor>.header {
    align-items: stretch;
    display: flex;
    flex-direction: row;
}

.content.panel>.header {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    height: 40px;
    justify-content: space-between;
    max-height: 40px;
    min-height: 40px;
}
.content.panel>.header>.tabs {
    align-items: stretch;
    display: flex;
    flex-direction: row;
}
.content.panel>.header>.tabs>.tab {
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: 0 24px;
}

.content.panel .CodeMirror {
    height: 100%;
}

.content.panel .ReactCodeMirror {
    flex-grow: 2;
    height: 100%;
}
