body {
    background-color: rgb(229,229,230);
    color: rgb(48,48,49);
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-size: small;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

#root {
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
}


/* ------------------------------------------------------------------------- */
/* modifiers                                                                 */

.flex {
    display: flex;
}
.flex.align-items-center {
    align-items: center;
}
.flex.align-items-stretch {
    align-items: stretch;
}
.flex.flex-column {
    flex-direction: column;
}
.flex.flex-grow {
    flex-grow: 2;
}
.flex.flex-row {
    flex-direction: row;
}
.flex.justify-content-center {
    justify-content: center;
}
.flex.justify-content-space-between {
    justify-content: space-between;
}
